
            <section id="catalog">
                <h1>All Players</h1>
                <div class="band">

                    {{#each players}}
                    <!-- If there are posts for creature in the database display each of them -->
                    <div class="flip flip-vertical">
                        <div class="front">
                            <img src="{{imageUrl}}"
                                alt="{{name}}">
                        </div>
                        <div class="back">
                            <h1>{{name}}</h1>
                            <h2>Current Team: {{team}}</h2>
                            <p>Description: {{description}}</p>
                            <a href="#" class="details">Details</a>
                        </div>
                    </div>
                    {{/each}}

                    <!-- If there are still no posts in the database display: -->
                    <!-- <div class="no-posts">
                        <p class="no-offer">There are no players yet...</p>
                    </div> -->
                </div>
            </section>