
            <section id="details-page">

                <div class="main_card">
                    <div class="card_left">
                        <div class="card_datails">

                            <h1>{{player.name}}</h1>
                            <div class="card-movie">
                                <div class="first-info">
                                    <p class="card-genre">Current Team: {{player.team}}</p>
                                    <p class="card-director">Headcoach: {{player.headcoach}}</p>
                                    
                                </div>
                                <div class="second-info">
                                    
                                    <p class="card-year">Years Old: {{player.years}}</p>
                                    <p class="card-ranking">Rating: <span id="stars">{{showRating player.rating}}</span></p>
                                </div>

                            </div>

                            <p class="disc">Description: {{player.description}}</p>
                            <p class="card-category">Position: {{player.position}}</p>

                            {{#if isCreator}}
                            <div style="display: flex; justify-content: center;">
                                <a href="/players/{{player.id}}/attach-cast" class="details">Attach</a>
                                <a href="" class="details">Edit</a>
                                <a href="/players/{{player.id}}/delete" class="details">Delete</a>
                            </div>
                            {{/if}}

                        </div>
                    </div>
                    <div class="card_right">
                        <img src="{{player.imageUrl}}"
                            alt="{{player.name}}">
                    </div>
                </div>

                <div class="main-cast-card">
                    {{#each player.casts}}
                        <div class="cast-card">
                            <div class="card-img">
                                <img src="{{imageUrl}}"
                                    alt="{{name}}">
                            </div>
                            <div class="cast-info">
                                <h1>{{name}}</h1>
                                <h3>Age: {{age}}</h3>
                                <h3>Established: {{established}}</h3>
                                <h3>Name in Movie: Eric</h3>
                            </div>
                        </div>
                    {{/each}}
                </div>

            </section>