
            <section id="edit-page">
                <div class="editSection">
                    <div class="info-edit">
                        <h2>"One ring to rule them all, one ring to find them, one ring to bring them all and in the darkness bind them."</h2>
                    </div>

                    <form method="POST" class="editForm">
                        <h2>Edit Post</h2>
                        <ul class="noBullet">
                            <li>
                                <label for="title">Name:</label>
                                <input type="text" class="inputFields" id="title" name="name" value="{{player.name}}"/>
                            </li>
                            <li>
                                <label for="position">Position:</label>
                                <select id="position" class="inputFields" name="position">
                                    <option value="">Select Position</option>
                                    {{#each positions}}
                                    <option value="{{value}}" {{selected}}>{{label}}</option>
                                    {{/each}}
                                </select>
                            </li>
                            <li>
                                <label for="genre">Current Team:</label>
                                <input type="text" class="inputFields" id="genre" name="team" value="{{player.team}}" />
                            </li>
                            <li>
                                <label for="director">Headcoach:</label>
                                <input type="text" class="inputFields" id="director" name="headcoach" value="{{player.headcoach}}" />
                            </li>
                            <li>
                                <label for="date">Years old:</label>
                                <input type="number" class="inputFields" id="year" name="years" value="{{player.years}}" />
                            </li>
                            <li>
                                <label for="image">Player Poster:</label>
                                <input type="text" class="inputFields" id="image" name="imageUrl" value="{{player.imageUrl}}" />
                            </li>
                            <li>
                                <label for="image">Rating:</label>
                                <input type="text" class="inputFields" id="rating" name="rating" value="{{player.rating}}" />
                            </li>
                            <li>
                                <label for="description">Description:</label>
                                <textarea id="description" class="inputFields" name="description">{{player.description}}</textarea>
                            </li>
                            <li id="center-btn">
                                <button id="edit-btn">Edit</button>
                            </li>
                        </ul>
                    </form>

                </div>
            </section>